.m-hwrapper
  width: 100%
  position: relative;
  height: 1.3rem
  .psc-g-hd
    position: fixed !important;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    height 1.3rem
    .psc-m-topbar
      border-bottom: .01rem solid #d9d9d9;
      position: relative;
      height: 1.3rem;
      background-color: #fafafa;
      .psc-row
        max-width: 768px;
        height: 1.3rem;
        margin: auto;
        overflow: hidden;
        padding: 0 .26rem 0 .24rem;
        position: relative;
        .psc-m-hamburger
          display: block;
          float: left;
          .psc-u-nav-link
            display: block;
            .u-icon
              display block
              margin-top: 12px
              font-size 26px
        .m-head-tab
          position: absolute;
          width: 3.2rem;
          height: 100%;
          line-height: 1.3rem;
          text-align: center;
          left: 50%;
          top: 0;
          margin-left: -1.6rem;
          font-size: 20px;
          color: #7F7F7F;
          z-index: 1;
          .item
            padding: 0 .16rem;
            vertical-align: middle;
            &.active
              font-size: 20px;
              color: #b4282d;
              font-weight: bold;
          .logo
            width: 1.84rem;
            height: .53333rem;
            background-image: url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/indexLogo-11d65342f9.png);
            display: inline-block;
            background-size: cover;
            background-position: center;
        .psc-m-right
          display: block;
          float: right;
          height: 1.3rem;
          .psc-u-nav-link
            display block
            &.psc-u-link-cart
              float: right;
              .c-icon
                display block
                margin-top: 12px
                font-size 26px
            &.psc-u-link-search
              float: right;
              margin-right: .3rem;
              .s-icon
                display block
                margin-top: 12px
                font-size 26px

.m-main-tab
  border-bottom: .01rem solid #d9d9d9;
  width 100%;
  height: 1rem;
  background: #fafafa;
  .u-scroll-wrapper
    width 100%;
    height: 1rem;
    position: absolute;
    left: 0;
    z-index: 20;
    top: 1.3rem
    zoom: 1
    .item
      display: inline-block;
      width 19%;
      height: 1rem;
      line-height: 37px;
      color: #7F7F7F;
      font-size: 15px;
      text-align center;
      vertical-align: middle;
      &.active
        color: #B4282D;
        border-bottom: .04rem solid #B4282
.m-main
  width: 100%
  height 100%
  .m-main-content
    margin-bottom: 110px
    zoom: 1
    .m-tpls-top
      width: 100%;
      background: #fff;
      margin: .2rem 0;
      padding: .36rem .3rem;
      > a
        zoom: 1
        .u-pic-top
          width 100%
          height: 190px;
          position: relative;
          overflow: hidden;
          border-radius: .08rem;
          > img
            width: 100%
            height 100%
            display block
  .m-tpls
    width: 100%;
    background: #fff;
    margin: .2rem 0;
    padding: .36rem .3rem;
    &::before
      content ''
      position absolute
      left 0
      top -8px
      width 100%
      height 5px
      border-top: 1px solid rgba(7,17,27,0.1);
      border-bottom: 1px solid rgba(7,17,27,0.1);
      background: #f3f5f7;
    &.m-tpls-rec
      position relative
      .u-name
        font-size: .28rem;
        margin-bottom: .24rem;
        color: #333;
        line-height: .36rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .ava
          display inline-block
          width: 28px;
          height: 28px;
          overflow: hidden;
          border-radius: 50%;
          box-sizing: border-box;
          border: .01rem solid #d9d9d9;
          margin-right: .12rem;
          > img
            width: 100%;
            height: 100%;
        > span
          display: inline-block;
          vertical-align: middle;
      .title
        width: 100%;
        font-size: 22px;
        color: #333;
        line-height: .6rem;
        overflow : hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        padding-bottom: .32rem;
        font-family: PingFangSC-Regular;
      .u-pic
        width: 100%;
        height: 190px;
        position: relative;
        margin-bottom: .2rem;
        overflow: hidden;
        border-radius: .08rem;
      .u-rcount
        font-size: 22px;
        color: #999;
        line-height: 22px;
        position: absolute;
        bottom: 0
        .ico
          font-size 16px

    &.m-tpls-picker
      position: relative;
      padding: .32rem .3rem;
      .u-flexbox
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .info
          position relative
          width: 5rem
          height 3.6rem
          .u-name
            font-size: .28rem;
            color: #333;
            line-height: .36rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .ava
              display inline-block
              width: 28px;
              height: 28px;
              overflow: hidden;
              border-radius: 50%;
              box-sizing: border-box;
              border: .01rem solid #d9d9d9;
              margin-right: .12rem;
              > img
                width: 100%;
                height: 100%;
            > span
              display: inline-block;
              vertical-align: middle;
          .title
            width: 5rem;
            font-size: .44rem;
            color: #333;
            line-height: .44rem;
            overflow : hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            padding-top: .32rem;
            font-family: PingFangSC-Regular;
          .desc
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
            line-height: 23px;
            padding-top: 14px;
            color: #7f7f7f;
          .u-rcount
            font-size: 22px;
            color: #999;
            line-height: 22px;
            position: absolute;
            bottom: 0
            .ico
              font-size 16px
        .u-pic
          width: 3.6rem
          height: 3.6rem
          position: relative;
          overflow: hidden;
          border-radius: 8px;
.split
  width: 100%
  height: 7px
  border-top: 1px solid rgba(7, 17, 27, 0.1)
  border-bottom: 1px solid rgba(7, 17, 27, 0.1)
  background: #f3f5f7

